# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VSCode
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Build
dist/
build/
*.egg-info/

# SQLite
*.db